html, body, #root {
    font-family: "Open Sans", sans-serif;
    background: rgb(43,43,43);
    height: 100%;
    margin: 0;
    color: rgb(233,233,233);
}

  h1 {
    font-weight: 500;
  }

  h2 {
    font-weight: 500;
  }

  button {
    max-width: fit-content;
    font-size: larger;
    color: rgb(233,233,233);
    background: rgb(32,32,32);
    box-shadow: 0px 4px 0px rgb(10,10,10);
    align-items: center;
    /* background: #58cc02; */
    border: none !important;
    padding: 15px 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:active {
    box-shadow: none;
    transform: translate(0, 4px);
  }
  
  button:hover:not(:disabled) {
   filter: brightness(1.1);
  }




.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.hero {
  background: rgb(43,43,60);
  min-height: 100vh; /* Hero section takes up full height */
}

.end {
  background: rgb(10,10,10);
}

.darkblue {
  background: rgb(12,12,43);
}

.twoCol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
}

.oneCol {
  gap: 2rem;
  max-width: 600px;
}

.graphic {
  color: rgb(43,43,43);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  width: 100%;
}

.text {
  display: flex;
  font-size: large;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}


@media (max-width: 768px) {
  .twoCol {
    grid-template-columns: 1fr;
  }
}
