.header img {
    max-height: 2rem;
    padding: 0.5rem;
}

.header {
    font-family: "Open Sans", sans-serif;
    color: rgb(233,233,233);
    background: rgb(60,60,80);
    position: fixed;
    margin: 0;
    width: 100%;
    padding: 1rem 1rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 0.2rem solid rgb(40,40,60);
}
  
.header .logo {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(233,233,233);
    align-items: center;
}