html, body, #root {
    font-family: "Open Sans", sans-serif;
    background: rgb(43,43,43);
    height: 100%;
    margin: 0;
    color: rgb(233,233,233);
}

  h1 {
    font-weight: 500;
  }

  h2 {
    font-weight: 500;
  }

  button {
    max-width: fit-content;
  }

  .header {
    font-family: "Open Sans", sans-serif;
    color: rgb(233,233,233);
    background: rgb(43,43,60);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    z-index: 1000;
    display: flex;
    align-items: center;
  }
  
  .header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  
  
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .hero {
    background: rgb(43,43,60);
    min-height: 100vh; /* Hero section takes up full height */
  }

  .end {
    background: rgb(12,12,43);
  }
  
  .twoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
  }
  
  .graphic {
    color: rgb(43,43,43);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    width: 100%;
  }
  
  .text {
    display: flex;
    font-size: large;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
  }

  
  @media (max-width: 768px) {
    .twoCol {
      grid-template-columns: 1fr;
    }
  }
  