.loadsave {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(43,43,60);
}

.slot {
    flex: 1;
    flex-direction: column;
    border-color: rgb(90, 90, 90);
    border-style: solid;
    border-width: 0.2rem 0.2rem 0.4rem 0.2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
    min-height: 50vh;
    max-width: 20rem;
    min-width: 10rem;
}

.slots{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* background-color: rgb(115, 115, 186); */

}